<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
		<!--<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />-->
		<title>My DreamBall team!</title>
		
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/dreamballs.js"></script>
	</head>
	<body>

		<div class="container">
			
	      	<div class=" jumbotron text-center" style="color:black; background:lightblue;">
	      			      	<h1 class="display4">DreamBall Players</h1>
	      			        <p class="lead"><h3>Select your player!</h3></p>
	      	</div> 
	      	<div>
	      	<img class="dreamballImage"  src="/assets/img/dreamball.jpg" alt="dreamballs picture" width="1110" >	
	      	
	      		{{{ body }}}
	      	
	      </div>
		</div>
	</body>
</html>
